@model Energy_printer.Models.DATA_LABEL
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta charset="iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Etiquetas Unidas - EnergyGuide & EnerGuide</title>

    <script>
        // =========================================================================
        // VARIABLES DE CONFIGURACIÓN GENERAL DESDE RAZOR
        // =========================================================================

        window.datosAmarillo = @Html.Raw(Json.Encode(new
        {
            REF_TYPE = Model.REF_TYPE,
            DEFROST_SYSTEM = Model.DEFROST_SYSTEM,
            DOORTYPE = Model.DOORTYPE,
            ICE_SERVICE = Model.ICE_SERVICE,
            CUST_NAME = Model.CUST_NAME,
            MODEL = Model.MODEL,
            CAB_SIZE = Model.CAB_SIZE,
            ENERGY_COST = Model.ENERGY_COST,
            LOW_SIMILAR_MODEL = Model.LOW_SIMILAR_MODEL,
            HIGH_SIMILAR_MODEL = Model.HIGH_SIMILAR_MODEL,
            LOW_AMOUNT = Model.LOW_AMOUNT,
            HIGH_AMOUNT = Model.HIGH_AMOUNT,
            ELECTRICITY_USE = Model.MODEL_KW,
            ENERGY_LOGO = Model.ENERGY_LOGO,
            PART_NUMBER = Model.PART_NUMBER
        }));

        window.datosBlanco = @Html.Raw(Json.Encode(new
        {
            MODEL = Model.MODEL,
            MODEL_KW = Model.MODEL_KW,
            LOW_KW = Model.LOW_KW,
            HIGH_KW = Model.HIGH_KW,
            TYPE = Model.TYPE,
            RANGE = Model.RANGE,
            ENERGY_LOGO = Model.ENERGY_LOGO
        }));

        window.configMargenes = @Html.Raw(Json.Encode(ViewBag.ConfigDataLabel));
        // =========================================================================
    </script>

    <link rel="stylesheet" href="~/Content/_LabelUSA.css" />
    <link rel="stylesheet" href="~/Content/_LabelCanada.css" />
</head>

<body>
    <div class="print-page page-amarilla">
        @Html.Partial("_LabelUSA")
        @Html.Partial("_LabelUSA")
    </div>
    <div class="printP page-blanca">
        <div class="canada-container cc1">
            @Html.Partial("_LabelCanada")
        </div>
        <div class="canada-container cc2">
            @Html.Partial("_LabelCanada")
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/Formato4.js")"></script>
</body>
</html>